.text-white {
  color: $white;
}

.text-blue {
  color: $blue-primary;
}

.text-blue-steel {
  color: $blue-steel;
}

.btn-default {
  padding: 10px;
  border-radius: 30px;
  border: none;
  background: #d1e1ff;
}
