$blue-primary: #2d6ee0;
$blue-secondary: #2b69dc;
$blue-steel: #97aacd;
$blue-steel-secondary: #578aed;
$orange-primary: #eca611;
$orange-secondary: #f5a749;
$red: #ee6265;
$green: #90bf00;
$white: #ffff;
