// Text
$blue-primary: #2d6ee0;

// Text Small
$blue-steel: #97aacd;

// Button SubSection
$blue-steel-secondary: #578aed;

// Hover - NAVBAR
$orange-primary: #eca611;

// Background Linear Gradient
$orange-secondary: #f5a749;

// Background Linear Gradient
$red: #ee6265;

// Title Text Card
$green: #90bf00;

// Text White
$white: #ffff;
