@import "../assets/fonts/fonts.css";
.header {
  display: flex;
  align-items: center;
  height: 50px;
}
.header .header__image,
.header .header__nav,
.header .header__mediasocial {
  display: flex;
  align-items: center;
}
.header .header__nav ul li a,
.header .header__mediasocial ul li a {
  color: #2d6ee0;
}
.header .header__nav ul li a:hover,
.header .header__mediasocial ul li a:hover {
  color: #eca611;
}
.header .header__nav ul li a {
  font-family: Gotham Bold;
}

.main {
  background: linear-gradient(to right, #f5a749, #ee6265);
}
.main .main__title h1 {
  font-size: 4.3rem;
  text-transform: uppercase;
}
.main .main__title h1,
.main .main__title h2 {
  font-family: Gotham Light;
}
.main .main__card {
  border-top: solid #ffff 2px;
}
.main .main__card .main__card__image img {
  width: 100%;
}
.main .main__card .main__card__text {
  background: #ffff;
}
.main .main__card .main__card__text p:nth-child(1) {
  font-family: Poppins Medium;
  background: #90bf00;
  text-transform: uppercase;
}
.main .main__card .main__card__text h1 {
  font-family: Tahoma;
}

.submain {
  margin-top: 150px;
}
.submain .container {
  background: url(../assets/images/parallax-image.png) center;
  background-color: #37377a;
  border-radius: 10px;
}
.submain .submain__text .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.submain .submain__text .container h1 {
  font-family: Poppins;
}
.submain .submain__text .container p {
  font-family: Gotham Book;
  width: 60%;
}
.submain .submain__text .submain__text__button input:nth-child(1) {
  color: #ffff;
  width: 35%;
  background: #578aed;
  border-radius: 5px;
  border: none;
  padding: 10px 0 10px 20px;
}
.submain .submain__text .submain__text__button input:nth-child(1)::placeholder {
  color: #ffff;
}
.submain .submain__text .submain__text__button input:nth-child(1):focus {
  outline: none;
}
.submain .submain__text .submain__text__button button {
  font-family: Gotham Book;
  font-weight: 600;
}
.submain .submain__text .submain__text__button button:nth-child(2) {
  background-color: #ffff;
  margin-left: -25px;
  width: 20%;
  border: 1px solid #ffff;
}
.submain .submain__text .submain__text__button button:nth-child(2):hover {
  background: #578aed;
  color: #ffff;
}
.submain .submain__text .submain__text__button button:nth-child(4) {
  width: 30%;
  color: #ffff;
  background-color: #578aed;
}
.submain .submain__text .submain__text__button button:nth-child(4):hover {
  color: #578aed;
  background: #ffff;
}
.submain .submain__text .submain__text__button label {
  font-family: Gotham Book;
  font-size: 14px;
}
.submain .submain__text .submain__text__button select {
  outline: none;
  color: white;
  background: transparent;
  border: none;
  border-bottom: 2px solid white;
}
.submain .submain__text .submain__text__button select option {
  color: #2d6ee0;
}
.submain .submain__image img {
  margin-top: -80px;
}

.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 50px 0 30px;
}

.text-white {
  color: #ffff;
}

.text-blue {
  color: #2d6ee0;
}

.text-blue-steel {
  color: #97aacd;
}

.btn-default {
  padding: 10px;
  border-radius: 30px;
  border: none;
  background: #d1e1ff;
}

* {
  box-sizing: border-box;
}

*,
p {
  margin: 0;
  padding: 0;
}

a:hover {
  text-decoration: none;
}

/*# sourceMappingURL=main.css.map */
