.header {
  display: flex;
  align-items: center;
  height: 50px;

  .header__image,
  .header__nav,
  .header__mediasocial {
    display: flex;
    align-items: center;
  }

  .header__nav,
  .header__mediasocial {
    ul li a {
      color: $blue-primary;

      &:hover {
        color: $orange-primary;
      }
    }
  }

  .header__nav {
    ul li a {
      font-family: Gotham Bold;
    }
  }
}

.main {
  background: linear-gradient(to right, $orange-secondary, $red);

  .main__title {
    h1 {
      font-size: 4.3rem;
      text-transform: uppercase;
    }

    h1,
    h2 {
      font-family: Gotham Light;
    }
  }

  .main__card {
    border-top: solid $white 2px;

    .main__card__image {
      img {
        width: 100%;
      }
    }

    .main__card__text {
      background: $white;
      p:nth-child(1) {
        font-family: Poppins Medium;
        background: $green;
        text-transform: uppercase;
      }

      h1 {
        font-family: Tahoma;
      }
    }
  }
}

.submain {
  margin-top: 150px;
  .container {
    background: url(../assets/images/parallax-image.png) center;
    background-color: rgb(55, 55, 122);
    border-radius: 10px;
  }

  .submain__text {
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;

      h1 {
        font-family: Poppins;
      }

      p {
        font-family: Gotham Book;
        width: 60%;
      }
    }

    .submain__text__button {
      // Input E-mail
      input:nth-child(1) {
        color: $white;
        width: 35%;
        background: $blue-steel-secondary;
        border-radius: 5px;
        border: none;
        padding: 10px 0 10px 20px;
        &::placeholder {
          color: $white;
        }
        &:focus {
          outline: none;
        }
      }

      button {
        font-family: Gotham Book;
        font-weight: 600;
      }

      // Button Send
      button:nth-child(2) {
        background-color: $white;
        margin-left: -25px;
        width: 20%;
        border: 1px solid $white;
        &:hover {
          background: $blue-steel-secondary;
          color: $white;
        }
      }

      // Button Download Free
      button:nth-child(4) {
        width: 30%;
        color: $white;
        background-color: $blue-steel-secondary;
        &:hover {
          color: $blue-steel-secondary;
          background: $white;
        }
      }

      // Text CheckBox
      label {
        font-family: Gotham Book;
        font-size: 14px;
      }

      // Select E-mail
      select {
        outline: none;
        color: white;
        background: transparent;
        border: none;
        border-bottom: 2px solid white;
        option {
          color: $blue-primary;
        }
      }
    }
  }

  .submain__image {
    img {
      margin-top: -80px;
    }
  }
}

.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 50px 0 30px;
}
